body {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tammudu 2', cursive;

}
header {
    max-width: 100%;
    position: relative;
}

.background {
    background:url("ruza_mushaf.jpg") no-repeat center;
    width: 100%;
    background-size: cover;
    padding-top: 36%;
}

.language {
    position: absolute;
    margin-left: 15px;
    text-align: center;
}

.language a {
    display: inline;
    /* padding: 15px; */
    color: black;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    margin-left: 20px;
}

/* .language a:after {
    content: "";
    width: 90%;
    height: 2px;
    display: block;
    position: absolute;
    background-color: black;
    top: 25px;
    left: 50%;
    transform: translate(-50%,0);
} */
nav {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    justify-content: center;
    text-justify: auto ;
    z-index: 2;
    background: transparent;
    font-family: 'Baloo Tammudu 2', cursive;

    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}
nav div {
    display: inline;
    padding-bottom: 5px;
    flex-shrink: 1;

}
nav  a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    text-shadow: 1px 1px 2px white;
    padding: auto;
    position: relative;
    margin-left: 15px;
}
nav div:not(:first-child) {
    margin-left: 10px;
}
/* nav div a:after {
    content: "";
    width: 75%;
    height: 2px;
    justify-self: center;
    display: block;
    position: absolute;
    background-color: black;
    top: 35px;
    left: 50%;

    transform: translate(-50%,0);
} */
a:hover {
    color: salmon;
    filter: contrast(50%);
}
h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);

    font-size: 3rem;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 800;
    text-shadow: 1px 1px 3px white;

    text-align: center;
    text-transform: uppercase;
    z-index: 2;

    width: 100%;
}
main {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    z-index: 2;
    position: relative;
}
.about {
    width: 85%;
    margin: -75px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    z-index: 5;
    padding: 15px;

    font-size: 20px;
}        

#support {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
}

.support_one, .support_two {

    width: 40%;
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;

}
.row h2 {
    text-align: center;
}
footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    height: 35px;
}
footer .copyright {
    margin-right: 40px;
    flex-basis: content;
    align-self: flex-end;
}
footer p a {
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        top: 25%;
    }

    nav div {
    top: 7%;
    font-size: 12px;
    /* padding: 12.5px 3px; */
    display: inline;
}
    .about {
        margin: -40px auto 0 auto;

    }
}

@media screen and (min-width: 1200px) {
    .about {
        margin: -150px auto 0 auto;

    }
}
@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .support_one, .support_two {

        width: 100%;
        /* padding: 20px; */
        text-align: justify;
    }
}